div {
    width: 100%;
    height: 500px;
    text-align: center;
}

h1 {
    color: black;
}

@media (min-width: 600px) {
    div {
        background-color: rgb(76, 166, 214);
    }
}

@media (max-width: 599px) {
    div {
        background-color: rgb(235, 167, 90);
    }
}